
.bg-normal{
    background-size: cover;
background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58a89289-2132-4ee4-bead-7f2f68fc852a/dd2wjgs-8777fe58-2750-4b71-bfa9-2501c1e7dad2.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4YTg5Mjg5LTIxMzItNGVlNC1iZWFkLTdmMmY2OGZjODUyYVwvZGQyd2pncy04Nzc3ZmU1OC0yNzUwLTRiNzEtYmZhOS0yNTAxYzFlN2RhZDIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xENB7eu2y6JU4zRLO1sgWB_6EhoSa39BtYsn8_7fN0o);
}
.bg-beat{
background-image: url(https://assets.airmail.news/static/images/BAh7CEkiCGdpZAY6BkVUSSIzZ2lkOi8vYWlyLW1haWwvQXJ0aWNsZTo6UGhvdG8vMzU4OTU_ZXhwaXJlc19pbgY7AFRJIgxwdXJwb3NlBjsAVEkiDGRlZmF1bHQGOwBUSSIPZXhwaXJlc19hdAY7AFQw--5276ec533aaed5cfa11d4f0b5ad89cf70eacc93b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDVG9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2QzNKbGMybDZaVWtpQ1RneU1ENEdPd1pVT2hCaGRYUnZYMjl5YVdWdWRGUTZESEYxWVd4cGRIbHBhUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--9f1042b9c088c6ba97f7b06fd8c724bd4cf39745/photo-1606922653.jpeg);
}
.bg-dying{
background-image: url(https://campustocareer.files.wordpress.com/2011/06/wile-e-coyote-5000806.jpg?w=640);
}
.bg-dead{
background-image: url(https://www.postcarbon.org/wp-content/uploads/2018/08/Wile-e-coyote-800.jpg);
}